node-linker=hoisted
virtual-store-dir=.pnpm
virtual-store-dir-max-length=50
shamefully-hoist=false
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*react*
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=*@react-native*